@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Moderustic:wght@300..800&family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Moderustic";
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url("../assets/images/contact-bg.jpeg");
}

.contact-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.135);
    border: 0.25px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url("../assets/images/contact-bg.jpeg");
}

.contact-container h1, .contact-container h2 {
    color: #ffffff;
}

.contact-container p, .contact-container ul li {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #ffffff;
}

.contact-container ul {
    padding: 0;
    list-style: none;
}

.contact-container ul ul {
    margin-left: 20px;
}

.contact-container a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    transition: color 0.3s;
}

.contact-container a:hover {
    color: #091136;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
}

form input, form textarea {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #333;
}
