@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Moderustic:wght@300..800&family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Moderustic";
}

.bg-container {
    background-color: #ffcc00;
}

.banner {
    font-family: "Mate SC";
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('/assets/images/bgimage.jpg');
    background-size: cover;
    background-position: center;
    height: 85.79vh;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00;
}

.footer p {
    font-size: 0.875rem;
}

.btn-warning {
    background-color: #ffcc00;
    border: none;
    transition: background-color 0.3s;
}

.btn-warning:hover {
    background-color: #e6b800;
}
