@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Moderustic:wght@300..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Moderustic", sans-serif;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.227)), url('../assets/images/thank_you.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar Styling */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcc00;
}

.btn-warning {
    background-color: #ffcc00;
    color: black;
    border: none;
}

.btn-warning:hover {
    background-color: #e6b800;
}

/* Thank You Message */
.thank-you-message {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(43, 255, 0);
    padding: 50px 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.thank-you-message h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.thank-you-message p {
    font-size: 18px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .thank-you-message {
        padding: 30px 15px;
    }

    .thank-you-message h1 {
        font-size: 28px;
    }

    .thank-you-message p {
        font-size: 16px;
    }
}

/* Footer */
footer {
    background-color: black;
    color: white;
}